body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.wrapper {
  max-width: 500px;
  margin: 0px auto;
  padding: 20px;
}
.container {
  background: #c4c1e0;
  border-radius: 10px;
}
.section-recipe {
  padding: 50px;
}
.section-recipe__title {
  color: #130e0e;
  border: 1px solid #fafafa;
  border-radius: 5px;
  margin-top: auto;
  padding: 10px 0px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}
.section-recipe__title-name {
  color: #130e0e;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.section-recipe__image {
  display: block;
  margin: 0px auto;
  max-width: 100%;
  border-radius: 5px;
}
.section-recipe__text {
  color: #130e0e;
  text-align: start;
  line-height: 1.5em;
  margin: 25px 0px 20px;
  font-size: 16px;
  font-weight: 400;
}
.section-recipe__text-name {
  color: #7c73e6;
  background-color: #ffe9e3;
}
.section-recipe__link {
  color: #7c73e6;
  display: block;
  text-align: end;
  font-size: 14px;
  font-weight: 200;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.section-recipe__link:hover {
  opacity: 0.6;
  text-decoration: underline;
}
.section-recipe__button {
  display: block;
  margin: auto;
  margin-top: 2rem;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 500;
  color: #fafafa;
  background-color: #7c73e6;
  border: none;
  border-radius: 50px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.section-recipe__button:hover {
  opacity: 0.6;
}
