body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: #000;
}
.wrapper {
  max-width: 500px;
  margin: 0px auto;
  padding: 20px;
}
.container {
  background: #fff;
  border-radius: 10px;
}
.section-recipe {
  padding: 50px;
}
.section-recipe__title {
  font-family: "Square Peg", cursive;
  color: #130e0e;
  border: 2px solid #af750a;
  border-radius: 5px;
  margin-top: auto;
  padding: 10px 0px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}
.section-recipe__title-name {
  font-family: "Raleway", sans-serif;
  color: #130e0e;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.section-recipe__image {
  display: block;
  margin: 0px auto;
  max-width: 100%;
  border-radius: 5px;
}
.section-recipe__text {
  color: #130e0e;
  text-align: start;
  line-height: 1.5em;
  margin: 25px 0px 20px;
  font-size: 16px;
  font-weight: 400;
}
.section-recipe__text-letter {
  font-style: italic;
  color: #af750a;
  font-size: 32px;
}

.section-recipe__text-name {
  font-style: italic;
  color: #000;
  background-color: rgba(175, 117, 10, 0.5);
}
.section-recipe__link {
  color: #af750a;
  display: block;
  text-align: end;
  font-size: 14px;
  font-weight: 200;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.section-recipe__link:hover {
  opacity: 0.6;
  text-decoration: underline;
}
.section-recipe__button {
  display: block;
  margin: auto;
  margin-top: 2rem;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 500;
  color: #fafafa;
  background-color: #af750a;
  border: none;
  border-radius: 50px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.section-recipe__button:hover {
  opacity: 0.6;
}
